- const socials = require('/src/views/data/socials.json')

header.header
	.container.header__container.flex-align-center
		.logo.header__logo
			| Nikita Almanov
		.header__body
			ul.socials.flex-align-center(aria-label='Socials')
				each social in socials.socials
					li.socials__item
						a(
							href=social.link
							data-tippy-content=social.tip
							aria-label=social.tip
						)
							svg
								use(href=`@img/icons/sprite.svg#${social.icon}`)

			a.button.header__button(
				href='#questions'
				data-tippy-content='Questions about work'
			) FAQ
			button.theme-switch(type='button' data-tippy-content='Change theme' aria-label='Theme switcher')
