- const socials = require('/src/views/data/socials.json')

header.header(data-lp)
	.container.header__container
		.header__body.padding-12.border-radius-10.flex-align-center
			.logo.header__logo
				| Nikita Almanov
			.header__inner.flex-align-center
				ul.socials.flex-align-center(aria-label='Socials')
					each social in socials.socials
						li.socials__item.tr-scale
							a.border-radius-50(
								href=social.link
								data-tippy-content=social.tip
								aria-label=social.tip
							)
								svg
									use(href=`@img/icons/sprite.svg#${social.icon}`)

				a.button(
					href='#questions'
					data-tippy-content='Questions About Work'
				) Q&A
				button.theme-switcher(
					type='button'
					data-tippy-content='Change Theme'
					aria-label='Theme switcher'
				)
