- const projectConfig = require('/project.config.js')

- const skills = require('/src/views/data/skills.json')
- const spoilers = require('/src/views/data/spoilers.json')
- const projects = require('/src/views/data/projects.json')
- const reviews = require('/src/views/data/reviews.json')
- const socials = require('/src/views/data/socials.json')

- const {
-		default: {
-			entry,
- 		language,
-			html: {
-				isJavaScriptInHead,
-				meta: {
-					description
-				}
-			}
- 	}
-	} = projectConfig
- const production = self.htmlWebpackPlugin.options.production

block variables
	- let title
	- let header
	- let footer
	- let popups
	- let preloader

doctype html
html(lang=language)
	head
		title=title
		meta(
			name='description'
			content=description
		)
		meta(charset='UTF-8')
		meta(
			name='viewport'
			content='width=device-width, initial-scale=1, viewport-fit=cover'
		)
		meta(
			name='format-detection'
			content='telephone=no'
		)
		meta(
			name='apple-mobile-web-app-capable'
			content='yes'
		)
		meta(
			name='apple-mobile-web-app-status-bar-style'
			content='black'
		)
		link#favicon(
			rel='icon'
			type='image/x-icon'
			href='favicon.ico'
		)

		if production
			link(
				rel='stylesheet'
				href='assets/css/style.min.css'
			)

		if isJavaScriptInHead
			script(defer src=`assets/js/${entry}.min.js`)
	body
		.wrapper.flex-column
			if header
				include header

			main.page
				block content

			if footer
				include footer

		if preloader
			include ../components/preloader
		if popups
			include ../components/popup

		if !isJavaScriptInHead
			script(src=`assets/js/${entry}.min.js`)
