- const production = self.htmlWebpackPlugin.options.production

- const skills = require('/src/views/json/skills.json')
- const spoilers = require('/src/views/json/spoilers.json')
- const projects = require('/src/views/json/projects.json')
- const reviews = require('/src/views/json/reviews.json')
- const repos = require('/src/views/json/repos.json')
- const socials = require('/src/views/json/socials.json')

block variables
	- let lang
	- let title
	- let preloader
	- let popups

doctype html
html(lang=lang)
	head
		title=title
		meta(charset='UTF-8')
		meta(
			name='viewport'
			content='width=device-width, initial-scale=1'
		)
		meta(
			name='format-detection'
			content='telephone=no'
		)

		if production
			link(
				rel='stylesheet'
				href='css/style.min.css'
			)

		link(
			rel='icon'
			href='favicon.ico'
		)
	body
		.wrapper
			include header

			main.page
				block content

			include footer

		if preloader
			include ../components/preloader
		if popups
			include ../components/popup

		script(src='js/app.min.js')
