- const PRODUCTION = self.htmlWebpackPlugin.options.production

- const projectConfig = require('/project.config.js')
- let { lang } = projectConfig

- const skills = require('/src/views/data/skills.json')
- const spoilers = require('/src/views/data/spoilers.json')
- const projects = require('/src/views/data/projects.json')
- const reviews = require('/src/views/data/reviews.json')
- const socials = require('/src/views/data/socials.json')

block variables
	- let title
	- let preloader
	- let popups

doctype html
html(lang=lang)
	head
		title=title
		meta(charset='UTF-8')
		meta(
			name='viewport'
			content='width=device-width, initial-scale=1'
		)
		meta(
			name='format-detection'
			content='telephone=no'
		)

		if PRODUCTION
			link(
				rel='stylesheet'
				href='assets/css/style.min.css'
			)

		link(
			rel='icon'
			href='favicon.ico'
		)
	body
		.wrapper
			include header

			main.page
				block content

			include footer

		if preloader
			include ../components/preloader
		if popups
			include ../components/popup

		script(src='assets/js/app.min.js')
