- const projectConfig = require('/project.config.js')

- const tools = require('/src/views/data/tools.json')
- const spoilers = require('/src/views/data/spoilers.json')
- const projects = require('/src/views/data/projects.json')
- const reviews = require('/src/views/data/reviews.json')
- const socials = require('/src/views/data/socials.json')

- const {
-		default: {
-			entry,
- 		language,
-			html: {
-				isJavaScriptInHead,
-				meta: {
-					description
-				}
-			}
- 	}
-	} = projectConfig
- const production = self.htmlWebpackPlugin.options.production

block variables
  - let title
  - let header
  - let footer
  - let preloader

doctype html
html(lang=language)
  head
    meta(charset='UTF-8')
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1'
    )
    title=title
    meta(
      name='description'
      content=description
    )
    meta(
      name='format-detection'
      content='telephone=no'
    )
    meta(
      name='apple-mobile-web-app-capable'
      content='yes'
    )
    meta(
      name='apple-mobile-web-app-status-bar-style'
      content='black'
    )
    link#favicon(
      rel='icon'
      type='image/x-icon'
      href='favicon.ico'
    )

    if production
      link(
        rel='stylesheet'
        href='assets/css/style.min.css'
      )

    if isJavaScriptInHead
      script(src=`assets/js/${entry}.min.js` defer)
  body
    .wrapper.flex-column
      if header
        include header

      main.page
        block content

      if footer
        include footer

  if preloader
    include ../components/preloader

  if !isJavaScriptInHead
    script(src=`assets/js/${entry}.min.js`)
