extends layout/layout

block variables
	- title = 'Nikita Almanov - Front-End Development'
	- header = true
	- footer = true
	- popups = true
	- preloader = true
	- gitHubName = 'nikkeyl'

block content
	section.hero.bg-event.fullscreen.flex-align-center
		.container.hero__container.flex-column
			h1.title.title--big.hero__title
				| #[span Front-End]
				| #[span(data-typed) Development]
			.hero__actions
				a.button.button--full.hero__button(href='#portfolio')
					| Portfolio
				a.button.button--full.hero__button(href=`https://t.me/${gitHubName}`)
					| Order a Website
	section.about-me
		.about-me__inner
			.container.about-me__container
				.about-me__body.padding-block
					h2.title.about-me__title.margin-bottom-30
						| Who Am I?
					.text
						p I have been studying front-end development for only a year, #[strong but I am no longer inferior in quality and speed of my work to experienced developers.]
						p You can see for yourself by going to #[a.link(href='#portfolio') portfolio].
						p Also, thanks to my minimalism, I #[strong write clean and understandable code].
						p If you want to know #[strong what technologies I own], you can go down a little #[a.link(href='#skills') lower].

						each skill in skills.skills
							p.sr-only=skill.name

		.about-me__image.bg-spare
			img(
				src=`@img/about/${gitHubName}.jpg`
				loading='lazy'
				alt='Nikita Almanov'
			)
	.skills.padding-block#skills
		h2.title.margin-bottom-30
			| Skills
		.skills__row(role='marquee')
			.skills__icons.gap
				each skill in skills.skills
					.skills__icon
						img(
							src=skill.icon
							loading='lazy'
							alt=skill.name
							data-tippy-content=skill.name
						)

	section.portfolio.padding-block#portfolio
		.container
			h2.title.margin-bottom-30
				| Portfolio
			.grid.portfolio__cards.gap
				each card in projects.cards
					article.project-card.border-radius-10
						a.project-card__image.bg-image.bg-spare.broken-glass(href=card.linkSite)
							img.tr-scale(
								src=card.img
								loading='lazy'
								alt=card.name
							)
						.project-card__body
							h3.card-title.project-card__title
								a(href=card.linkSite)
									=card.name
							a.button.project-card__button(
								href=card.linkSite
								data-tippy-content=card.name
							) View

	section.reviews.padding-block
		.container
			h2.title.margin-bottom-30
				| Reviews
			.swiper.reviews__slider
				.swiper-wrapper.margin-bottom-30
					each review in reviews.reviews
						.swiper-slide
							article(class=[
								'review',
								review.class,
								'broken-glass',
								'border-radius-10'
							])
								.review__info.flex-align-center
									.review__image.bg-image.bg-spare.border-radius-50
										img(
											src=review.img
											loading='lazy'
											alt=review.name
										)
									h3.review-name.review__name
										=review.name
								.text.review__text
									| !{review.text}

				.swiper-pagination.reviews__pagination
	section.padding-block#questions
		.container
			h2.title.margin-bottom-30
				| FAQ
				span.sr-only
					| Questions and answers
			.grid.gap(
				data-spoilers
				data-one-spoiler
			)
				each spoiler in spoilers.spoilers
					details.spoiler.border-radius-10
						summary.spoiler-trigger.spoiler__trigger.gap.flex-align-center(
							data-spoiler
							data-spoiler-close
						)
							strong=spoiler.title
							span
						.text.spoiler__content
							| !{spoiler.content}
						.sr-only
							| !{spoiler.content}

				details.spoiler.border-radius-10
					summary.spoiler-trigger.spoiler__trigger.gap.flex-align-center(
						data-spoiler
						data-spoiler-close
					) #[strong Questions Left?]
						span
					.text.spoiler__content
						a.spoiler__info.flex-align-center.margin-bottom-20(
							href='#'
							data-popup='#info'
							data-tippy-content='Working Hours'
						) Contact Me
							svg
								use(href='@img/icons/sprite.svg#info')
						ul.socials.spoiler__socials.flex-align-center
							each social in socials.socials
								li.socials__item.tr-scale
									a.border-radius-50(
										href=social.link
										data-tippy-content=social.tip
										aria-label=social.tip
									)
										svg
											use(href=`@img/icons/sprite.svg#${social.icon}`)
					p.sr-only
						| I answer calls and messages from 12:00 to 20:00.
