extends layout/layout

block variables
	- lang = 'en'
	- title = 'Nikita Almanov - Front-End Development'
	- preloader = true
	- popups = true
	- alias = 'nikkeyl'

block content
	section.hero.fullscreen.flex-align-center
		.container.hero__container
			h1.title.title--big.hero__title
				| #[span Front-End]
				| #[span(data-typed) Development]
			.hero__actions
				a.button.button--full.hero__button(
					href='#portfolio'
				) Portfolio
				a.button.button--full.hero__button(href=`https://t.me/${alias}`)
					| Order a website
	section.about-me
		.about-me__inner
			.container.about-me__container
				.about-me__body.padding-y
					h2.title.margin-bottom.about-me__title
						| Who am I?
					.text
						p I have been studying front-end development for only a year, #[strong but I am no longer inferior in quality and speed of my work to experienced developers.]
						p You can see for yourself by going to #[a.link(href='#portfolio') portfolio] and #[a.link(href='#developments') my developments].
						p Also, thanks to my minimalism, I #[strong write clean and understandable code].
						p If you want to know #[strong what technologies I own], you can go down a little #[a.link(href='#skills') lower].

						each skill in skills.skills
							p.sr-only=skill.name

		.about-me__image
			img(
				src=`@img/about/${alias}.jpg`
				alt='Nikita Almanov'
			)
	.skills.padding-y#skills(role='marquee')
		.skills__icons.gap
			each skill in skills.skills
				.skills__icon
					img(
						src=skill.icon
						alt=skill.name
						data-tippy-content=skill.name
					)

	section.portfolio.padding-y#portfolio
		.container
			h2.title.margin-bottom
				| Portfolio
			.grid.portfolio__cards.gap
				each card in projects.cards
					article.project-card.border-radius
						a.bg-image.project-card__image(href=card.linkSite)
							img(
								src=card.img
								alt=card.name
							)
						.project-card__body
							h3.card-title.project-card__title
								a(href=card.linkSite)
									=card.name
							a.button.project-card__button(
								href=card.linkSite
								data-tippy-content=card.name
							) View

	section.developments.padding-y#developments
		.container
			h2.title.margin-bottom
				| My developments
			.grid.gap
				each repo in repos.repos
					a.developments__card.border-radius(
						href=`https://github.com/${alias}/${repo.name}`
						aria-label=repo.a11y
					) #[span.sr-only=repo.a11y]
						img(
							src=`https://github-readme-stats.vercel.app/api/pin/?username=${alias}&repo=${repo.name}&hide_border=true&bg_color=f8f4ff&title_color=222&text_color=000&icon_color=0d8`
							alt=repo.name
						)

	section.reviews.padding-y
		.container
			h2.title.margin-bottom
				| Reviews
			.swiper.reviews__slider
				.swiper-wrapper.margin-bottom
					each review in reviews.reviews
						.swiper-slide
							article(class=[
								'review',
								review.class,
								'border-radius'
							])
								.review__info.flex-align-center
									.bg-image.review__image
										img(
											src=review.img
											alt=review.name
										)
									h3.review-name.review__name
										=review.name
								.text.review__text
									| !{review.text}

				.swiper-pagination.reviews__pagination
	section.padding-y#questions
		.container
			h2.title.margin-bottom
				| FAQ
				span.sr-only Questions and answers
			.grid.gap(
				data-spoilers
				data-one-spoiler
			)
				each spoiler in spoilers.spoilers
					details.spoiler.border-radius
						summary.spoiler__trigger.gap.flex-align-center(
							data-spoiler
							data-spoiler-close
						)
							strong=spoiler.title
							span
						.text.spoiler__content
							| !{spoiler.content}
						.sr-only !{spoiler.content}

				details.spoiler.border-radius
					summary.spoiler__trigger.gap.flex-align-center(
						data-spoiler
						data-spoiler-close
					) #[strong Questions left?]
						span
					.text.spoiler__content
						.spoiler__call-me
							a.spoiler__info.flex-align-center(
								href='#'
								data-popup='#info'
								data-tippy-content='Working hours'
							) Contact me
								svg
									use(href='@img/icons/sprite.svg#info')
						ul.socials.spoiler__socials.flex-align-center
							each social in socials.socials
								li.socials__item
									a(
										href=social.link
										data-tippy-content=social.tip
										aria-label=social.tip
									)
										svg
											use(href=`@img/icons/sprite.svg#${social.icon}`)
					p.sr-only I answer calls and messages from 12:00 to 20:00.
