extends layout/layout

block variables
	- lang = 'en'
	- title = 'Nikita Almanov - Front-End Development'
	- preloader = true
	- popups = true

block content
	section.hero.fullscreen
		.container.hero__container
			h1.title.title--big.hero__title
				| #[span Front-end]
				| #[span(data-typed) development]
			.hero__actions
				a.button.button--fw.hero__button(
					href='#portfolio'
				) Portfolio
				a.button.button--fw.hero__button(href='https://t.me/nikkeyl')
					| Order a website
	section.about-me
		.about-me__inner
			.container.about-me__container
				.about-me__body
					h2.title.about-me__title
						| Who am I?
					.text
						p I have been studying front-end development for only a year, #[strong but I am no longer inferior in quality and speed of my work to experienced developers.]
						p You can see for yourself by going to #[a.link(href='#developments') my developments] and #[a.link(href='#portfolio') portfolio].
						p Also, thanks to my minimalism, I #[strong write clean and understandable code.].
						p If you want to know #[strong what technologies I own], you can go down a little #[a.link(href='#skills') lower].

						each skill in skills.skills
							p.sr-only=skill.a11y

		.about-me__image
			img(
				data-src='@img/about/nikkeyl.jpg'
				alt='Nikita Almanov'
			)
	.skills#skills(role='marquee')
		.skills__icons
			each skill in skills.skills
				.skills__icon
					img(
						data-src=skill.icon
						alt=skill.name
						data-tippy-content=skill.name
					)

	section.developments#developments
		.container
			h2.title.developments__title
				| My developments
			.grid
				each repo in repos.repos
					a.developments__card(
						href=`https://github.com/nikkeyl/${repo.name}`
						aria-label=repo.a11y
					) #[span.sr-only=repo.a11y]
						svg
							use(href='@img/icons/sprite.svg#github')
						img(
							data-src=`https://github-readme-stats.vercel.app/api/pin/?username=nikkeyl&repo=${repo.name}&hide_border=true&bg_color=f8f4ff&title_color=222&text_color=000&icon_color=0d8`
							alt=repo.name
						)

	section.portfolio#portfolio
		.container
			h2.title.portfolio__title
				| Portfolio
			.grid.portfolio__cards
				each card in projects.cards
					article.project-card
						a.bg-image.project-card__image(href=card.linkSite)
							img(
								data-src=card.img
								alt=card.name
							)
						.project-card__body
							h3.card-title.project-card__title
								a(href=card.linkSite)
									=card.name
							.project-card__actions
								a.button.project-card__button(
									href=card.linkSite
									data-tippy-content=card.name
								) View
								a(
									class='project-card__src-code'
									href=card.linkCode
									data-tippy-content=card.disabled ? false : card.srcCode
									tabindex=card.disabled ? '-1' : false
								) #[span.sr-only=card.disabled ? ['The ' + card.srcCode + ' is not available'] : ['View ' + card.srcCode]]
									svg
										use(href='@img/icons/sprite.svg#github')

	section.reviews
		.container
			h2.title.reviews__title
				| Reviews
			.swiper.reviews__slider
				.swiper-wrapper.reviews__wrapper
					each review in reviews.reviews
						.swiper-slide
							article(class=[
								'review',
								review.class
							])
								.review__info
									.bg-image.review__image
										img(
											data-src=review.img
											alt=review.name
											title=review.name
										)
									h3.review-name.review__name
										=review.name
								.text.review__text
									| !{review.text}

				.swiper-pagination.reviews__pagination
	section.questions#questions
		.container
			h2.title.questions__title
				| FAQ
				span.sr-only Questions and answers
			.grid(
				data-spoilers
				data-one-spoiler
			)
				each spoiler in spoilers.spoilers
					details.spoiler
						summary.spoiler__trigger(
							data-spoiler
							data-spoiler-close
						)
							strong=spoiler.title
							span
						.text.spoiler__content
							| !{spoiler.content}
						.sr-only !{spoiler.content}

				details.spoiler
					summary.spoiler__trigger(
						data-spoiler
						data-spoiler-close
					) #[strong Questions left?]
						span
					.text.spoiler__content
						.spoiler__call-me
							a.spoiler__info(
								href='#'
								data-popup='#info'
								data-tippy-content='Working hours'
							) Contact me
								svg
									use(href='@img/icons/sprite.svg#info')
						ul.socials.spoiler__socials
							each social in socials.socials
								li.socials__item
									a(
										href=social.link
										data-tippy-content=social.tip
										aria-label=social.tip
									)
										svg
											use(href=`@img/icons/sprite.svg#${social.icon}`)
					p.sr-only I answer calls and messages from 12:00 to 20:00.
