extends views/layout/layout

block variables
	- pageLang = 'ru'
	- pageTitle = 'Никита Алманов - front-end разработка'
	- preloader = true
	- popups = true

block pageContent
	section.hero(data-fullscreen)
		.container.hero__container
			h1.title.title--big.hero__title
				| #[span Front-end] разработка
			.hero__actions
				a.button.button--fw.hero__button(href='#' data-goto='.portfolio' data-goto-header)
					| Портфолио
				a.button.button--fw.hero__button(href='https://t.me/nikkeyl')
					| Заказать вёрстку
	section.about-me
		.about-me__inner
			.container.about-me__container
				.about-me__body
					h2.title.about-me__title
						| Кто я?
					.about-me__text
						p Я изучаю front-end разработку лишь год, #[strong но уже не уступаю в качестве и скорости моей работы бывалым разработчикам.]
						p В этом вы сами можете убедиться перейдя в #[a(href='#' data-goto='.portfolio' data-goto-header) #[span портфолио]].
						p Также благодаря моему минимализму я #[strong пишу чистый и понятный код].
						p Если вы хотите узнать #[strong какими технологиями я владею], то можете спуститься чуть #[a(href='#' data-goto='.skills' data-goto-header) #[span ниже]].
		.about-me__image
			img(src='@img/about/nikkeyl.jpg' alt='Никита Алманов' loading='lazy')
	.skills
		.container(data-marquee)
			.skills__icons
				each skill in skills.skills
					.skills__image
						img(src=skill.icon alt=skill.name data-tippy-content=skill.name loading='lazy')
	section.portfolio
		.container
			h2.title.portfolio__title
				| Портфолио
			.portfolio__cards
				each card in projects.cards
					article.project-card
						a.project-card__image.bg-image(href=card.linkSite)
							img(src=card.img alt=card.name loading='lazy')
						.project-card__body
							h3.project-card__title
								a(href=card.linkSite)
									=card.name
							.project-card__actions
								a.button.project-card__button(href=card.linkSite data-tippy-content=card.name)
									| Посмотреть
								a.project-card__src-code(href=card.linkCode data-tippy-content=card.disabled ? false : card.srcCode disabled=card.disabled)
									svg
										use(href='@img/icons/sprite.svg#github')
	section.reviews
		.container
			h2.title.reviews__title
				| Отзывы
			.swiper.reviews__slider
				.swiper-wrapper.reviews__wrapper
					.swiper-slide
						each review in reviews.reviews
							article(class=['review', review.class])
								.review__head
									.review__image.bg-image
										img(src=review.img alt=review.name title=review.name loading='lazy')
									div
										h3.review__name
											=review.name
										a.review__link(href=review.link)
											=review.linkText
								.review__text
									| !{review.text}
				.swiper-pagination
	section.questions
		.container
			h2.title.questions__title
				| Q&A
			.spoilers(data-spoilers data-one-spoiler)
				each spoiler in spoilers.spoilers
					details.spoiler
						summary.spoiler__trigger(data-spoiler data-spoiler-close)
							strong=spoiler.title
							span
						.spoiler__content
							| !{spoiler.content}
				details.spoiler
					summary.spoiler__trigger(data-spoiler data-spoiler-close)
						strong
							| Остались вопросы?
						span
					.spoiler__content
						.spoiler__call-me
							a.spoiler__info(href='#' data-popup='#info' data-tippy-content='Часы работы')
								| Свяжитесь со мной
								svg
									use(href='@img/icons/sprite.svg#info')
						.socials.spoiler__socials
							a.socials__item(href='https://t.me/nikkeyl' data-tippy-content='Телеграм')
								svg
									use(href='@img/icons/sprite.svg#telegram')
							a.socials__item(href='mailto:nikkeyl.dev@gmail.com' data-tippy-content='Gmail')
								svg
									use(href='@img/icons/sprite.svg#gmail')
							a.socials__item(href='tel:89064993787' data-tippy-content='Телефон')
								svg
									use(href='@img/icons/sprite.svg#phone')
