#preloader
	style.
		*,
		*::before,
		*::after {
			margin: 0;
			border: 0;
			padding: 0;
			box-sizing: border-box;
		}

		body {
			overflow: hidden;
			touch-action: none;
		}

		.loading body {
			opacity: 0;
			visibility: hidden;
		}

		.loaded body {
			opacity: 1;
			visibility: visible;
			transition: opacity .5s;
		}

		.preloader {
			position: fixed;
			inset: 0;
			z-index: 999;
			background-color: #fff;
			opacity: 1;
			visibility: visible;
		}

		.dark .preloader {
			background-color: #333;
		}

		.halloween .preloader {
			background-color: #000;
		}

		.preloader__load {
			position: absolute;
			inset-block-start: 50%;
			inset-inline-start: 50%;
			block-size: 6.25rem;
			inline-size: 6.25rem;
			animation: spin 2s linear infinite;
		}

		@keyframes spin {
			0% {
				transform: translate(-50%, -50%) rotate(0deg);
			}

			100% {
				transform: translate(-50%, -50%) rotate(360deg);
			}
		}

		.preloader.hide {
			opacity: 0;
			visibility: hidden;
			transition:
				visibility 0.3s,
				opacity 0.3s;
		}
	script.
		const preloader = () => {
			const preloaderTemplate =
				`
					<div class="preloader">
						<div class="preloader__load">
							<svg viewBox="0 0 100 100">
								<path
									fill="transparent"
									stroke-linecap="round"
									stroke-width="8"
									stroke="#0d8"
									d="M50 10 a 40 40 0 0 1 0 80"
								/>
							</svg>
						</div>
					</div>
				`;

			document.querySelector('html').insertAdjacentHTML(
				"beforeend",
				preloaderTemplate
			);
		}

		preloader();
