#preloader
	style.
		*,
		*::before,
		*::after {
			margin: 0;
			border: 0;
			padding: 0;
			box-sizing: border-box;
		}

		body {
			overflow: hidden;
			touch-action: none;
		}

		.preloader {
			position: fixed;
			inset: 0;
			z-index: 3;
			background-color: #fff;
		}

		.dark .preloader {
			background-color: #333;
		}

		.preloader__spinner {
			position: absolute;
			inset-block-start: 50%;
			inset-inline-start: 50%;
			inline-size: 6.25rem;
			translate: -50% -50%;
			animation: spin 2s linear infinite;
		}

		@keyframes spin {
			100% {
				rotate: 360deg;
			}
		}

		.preloader.hide {
			opacity: 0;
			visibility: hidden;
			transition:
				visibility 300ms,
				opacity 300ms;
		}
	script.
		const html = document.documentElement;
		const preloaderTemplate =
			`
				<div class="preloader">
					<div class="preloader__spinner">
						<svg viewBox="0 0 100 100">
							<path
								fill="transparent"
								stroke="#0d8"
								stroke-width="8"
								stroke-linecap="round"
								d="M50 10 a 40 40 0 0 1 0 80"
							/>
						</svg>
					</div>
				</div>
			`;

		html.insertAdjacentHTML(
			"beforeend",
			preloaderTemplate
		);
		document.addEventListener('DOMContentLoaded', () => {
			const preloaderInit = () => {
				const preloaderContainer = document.getElementById('preloader');
				const preloader = document.querySelector('.preloader');
				const delay = 500;

				if (html.classList.contains('loaded')) {
					setInterval(() => {
						preloader.classList.add('hide');

						setTimeout(() => {
							preloaderContainer.remove();
							preloader.remove();
						}, delay);
					}, delay);
				}
			}

			preloaderInit();
		})
